################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/obj/
/.vs/Challenges/v16
/Practice/bin/
