################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/obj/
.vs/
/Practice/bin/
obj/
/Recursion/bin/
/Recursion/obj/
/ArrayDataType/bin/Debug/net6.0
