################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/obj/
.vs/
/Practice/bin/
obj/
/Recursion/bin/
/Recursion/obj/
/ArrayDataType/bin/Debug/net6.0
/StringDataType/bin/Debug/net8.0
/LinkedListDataType/bin/Debug/net8.0
/TreeDataType/bin/Debug/net8.0
/StackDataType/bin/Debug/net8.0
/QueueDataType/bin/Debug/net8.0
/HeapDataType/bin/Debug/net8.0
/Sorting/bin/Debug/net8.0
